:root {
    --bg-color: #302B63;
    --blue-complement: #6475AB;
    --dark-color: #3E3E3E;
    --light-color: #ffffff;
    --incentive-color: #E85454;
    --secondary-text: #878787;
}

body,
* {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--light-color);
}

button {
    border: none;
    background-color: var(--incentive-color);
    width: 11rem;
    height: 3rem;
    
}

button:hover {
    cursor: pointer;
}

option {
    background-color: var(--light-color);
    color: black;
}

select {
    background-color: white;
    color: black;
    border: none;
    width: 11rem;
    height: 2rem;
}

.body-container {
    display: flex;
    justify-content: space-around;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.parameter {
    border: 0;
    outline: none;
    border-bottom-color: white;
    border-bottom: 1px solid #ffffff;
}

.inputs-yeah {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.add-process{
    display: flex;
    flex-direction: column;
}

.add-process-container {
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.add-process input {
    margin-top: 1rem;
}
.mgt{
    margin-top: 1.5em;
}


/*-----------Process segment----------*/

.process-container-param {
    box-sizing: border-box;
    padding: 1em;
    width: 250px;
    height: 510px;
    background-color: var(--blue-complement);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.process {
    margin-top: 10px;
    position: relative;
    min-width: 220px;
    min-height: 45px;
    background-color: #8ACEFB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-space {
    width: 185px;
    height: 15px;
    background-color: var(--light-color);
    text-align: center;
    border-radius: 10px;
}

.instructions-left {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40%;
    position: absolute;
    padding: 8px;
    border-radius: 100%;
    left: 43%;
    top: 5px;
}

.instruction-remove {
    cursor: pointer;
    background-color: var(--incentive-color);
    color: var(--light-color);
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 8px;
    border-radius: 100%;
    left: 110%;
    top: 3px;
}


/*cpu simulation*/
.simlation-setup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.visual-simulation {
    display: flex;
    width: 750px;
    padding: 2em 0em;
    justify-content: space-between;
}

.current-process .process-container-param {
    box-sizing: content-box;
    padding: 0;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current-process .process-container-param .process {
    margin-bottom: 9px;
}

.arrow-segment {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.3em;
}

.cpu-segment {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--bg-color);
    margin-bottom: 3em;
}

.state-cpu {
    background-color: var(--bg-color);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    top: 32%;
    left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpu-and-process-segment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.instruction-ratio {
    background-color: var(--blue-complement);
    color: var(--light-color);
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 8px;
    border-radius: 100%;
    left: 110%;
    top: 3px;
}